th{
    width:5%;
    border: 2px solid lightgray;
    vertical-align: middle;
    text-align:center;
    padding:0.5%;
}
table{
    border-color: black;
    border-collapse: collapse;
}
.date{
    width: 5%;
}
caption{
    caption-side: top;
    text-align: center;
}
td{
    width: 5%;
    border: 2px solid lightgray;
    vertical-align: middle;
    text-align: center;
    padding: 0.3%;
}
input{
    width: 98%;
    vertical-align: middle;
    text-align: center;
}
output{
    width: 98%;
    vertical-align: middle;
    text-align: center; 
}